<template>
  <div class="cruds__index">
    <div class="cruds__inside">
      <div class="cruds__header">
        Alunos cadastrados
      </div>
      <div class="cruds__body">
        <table id="t_alunos">
          <tr>
            <th>id_pessoa</th>
            <th>turma_ingresso</th>
            <th>1</th>
            <th>2</th>
          </tr>
          <tr v-for="aluno of alunos" :key="aluno.nusp_aluno">
            <td>{{ aluno.id_pessoa }}</td>
            <td>{{ aluno.turma_ingresso }}</td>
            <td><a href="edit"> Edit </a></td>
            <td><a href="show"> Show </a></td>
          </tr>
        </table>
        <a href="/cruds/new"><button href="new">Novo Aluno</button></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      alunos: [],
      pessoas: []
    };
  },
  async asyncData({ app }) {
    return {
      alunos: await app.$axios.$get("/alunos")
    }
  }
}
</script>

<style lang="scss">
#t_alunos {
    border-collapse: collapse;
    width: 80%;
}

#t_alunos td, #t_alunos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#t_alunos tr:nth-child(even){background-color: #f2f2f2;}

#t_alunos tr:hover {background-color: #ddd;}

#t_alunos th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #fcb13e;
    color: white;
}

.cruds__index {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.cruds__inside {
  background-color: white;
  width: 100%;
  margin:1em;
  box-shadow: 0px 1px 1px 2px #e0e0e0;
  border-radius: 0.1em;
}

.cruds__header {
  color: #4353B5;
  padding: 1em;
  font-size: 16pt;
  font-style: bold;
}

.cruds__body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

button{
  padding: 1em;
  background-color: #4353B5;
  border: none;
  color: white;
  border-radius: 0.2em;
  cursor:pointer;
  margin-top:1em;
}

button:hover {
  background-color: #fcb13e;
}

</style>
