<template>
  <div class="index__index">
    <div class="index__inside">
      <div class="index__header">
        <ul class="semestres">
          <li> <b> Semestres: </b></li>
          <li> <a>Geral</a> &nbsp;| </li>
          <li> <a>1º</a> &nbsp;|</li>
          <li> <a>2º</a> &nbsp;|</li>
          <li> <a>3º</a> &nbsp;|</li>
          <li> <a>4º</a> &nbsp;|</li>
          <li> <a>5º</a> &nbsp;|</li>
          <li> <a>6º</a> &nbsp;|</li>
          <li> <a>7º</a> &nbsp;|</li>
          <li> <a>8º</a> &nbsp;|</li>
          <li> <a>+ Adicionar</a> </li>
        </ul>
      </div>
      <div class="index__body">
        <div class="dis">
        <ul v-for="disciplina of disciplinas" :key="disciplina.id_disciplina">
          <li>
             {{ disciplina.codigo_disciplina }}<br/>{{ disciplina.nome }}
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      disciplinas: []
    };
  },

  async asyncData({ app }) {
    return {
      disciplinas: await app.$axios.$get("/disciplinas")
    }
  }
}
</script>

<style lang="scss">

.index__index {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.index__inside {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin:1em;
  box-shadow: 0px 1px 1px 2px #e0e0e0;
  border-radius: 0.1em;
}

.index__header {
  color: #4353B5;
  padding: 1em;
  font-size: 14pt;
  font-style: bold;
}

.index__body {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#planejamento {
   width: 100%;
   padding-top: 20px;
   display: table-row;
   justify-content: center;
   align-items: center;
}

.semestres {
   list-style: none;
   margin:0;
}

.semestres li {
   display: inline;
   float: left;
   margin: 10px 0px 10px 10px;
   color: #4353B5;
}
.semestres li a{
   color: #4353B5;
}

.semestres li a:hover {
  text-decoration: underline;
}

.dis {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dis ul li {
   display: inline;
   float:left;
   margin: 10px 10px 10px 10px;
}

button{
  background-color: #4353B5;
  border: none;
  color: white;
  border-radius: 0.2em;
  cursor:pointer;
}

button:hover {
  background-color: #fcb13e;
}
a {
  color: black;
  text-decoration: none; /* no underline */
}

</style>
