<template>
  <div class="aside__login">
    <div class="login" @click="show()">
      FAZER LOGIN
    </div>
    <div v-if="visible">
      <div @click="hide()" class="dim"></div>
      <div class="center_div">
        <div @click="hide()" class="exit"> X </div>
        <div stype="float=right">Email</div>
        <input v-on:keyup.enter="$event.target.nextElementSibling.focus()"
        type="email" v-model="email"/>
        Senha
        <input v-on:keyup.enter="login" type="password" v-model="password"/>

        <button class="entrar" type="submit" @click="login" @submit.prevent>
          Entrar
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      visible: false
    }
  },

  methods: {
    async login() {
      console.log(`User: ${this.email} ${this.password}`);

      let token = await this.$axios.$post("/rpc/autenticar",
        {
          email: this.email,
          senha: this.password
        }
      );

      // Save token at global vuex store to be used by auth middleware
      this.$store.commit("setToken", { token });
      this.hide();
    },

    show() {
      this.visible = true;
    },

    hide() {
      this.visible = false;
    }

  }
}
</script>

<style lang="scss">

.center_div{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 2em 1em 2em;

  border-radius: 0.2em;
  background-color: white;
  z-index:1;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18em;
  width: 35em;
  margin: auto;

  color:#4353B5;
}

.aside__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top:50%;
}

.login {
  font-size: 16pt;
  color: white;
}

.exit {
  color: gray;
  margin-bottom: 1em;

  position:absolute;
  top:2em;
  right:2em;

  cursor:pointer;
}

.dim {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=60); /* internet explorer */
    -khtml-opacity: 0.6;      /* khtml, old safari */
      -moz-opacity: 0.6;      /* mozilla, netscape */
           opacity: 0.6;      /* fx, safari, opera */
}

input {
  width: 100%;
  height: 3em;
  margin-bottom: 2em;
  border: none;
  border-bottom: 2px solid gray;
}

.entrar {
  height:3em;
}

</style>
