<template>
  <div class="fulla">
    <div class="profile">
      <img src="https://imgur.com/jcUmSE7.png" class="userImg">
      <div>{{person.nome}}</div>
    </div>
    <div class="logoutImg" @click="logout()">
      <img src="https://imgur.com/H9guMsv.png">
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        user: 'user',
        person: ''
      }
    },
    async mounted() {
      let parse = JSON.parse (atob(this.$store.state.token.split('.')[1]));
      let person_user = await this.$axios.$get(`/pessoas_geram_usuarios?id_usuario=eq.${parse.id_usuario}`);
      let person = await this.$axios.$get(`/pessoas?id_pessoa=eq.${person_user[0].id_pessoa}`);
      this.person = person[0];
    }, methods :{
      logout() {
        this.$store.commit("setToken", {token: '' });
      }
    }
  }
</script>

<style lang="scss">

.profile {
  color:white;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100%;
  position: relative;

}

.fulla {
  position: relative;
  width: 18em;
  height: 150px;
}

.logoutImg {
  position:absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

</style>
