<template>
  <aside class="aside">
    <div class="top">
      <div v-if="!isAuthenticated" class="adjust">
          <Login />
      </div>
      <div v-else>
          <Profile/>
      </div>
    </div>
    <div class="bottom">
      <ul>
          <a href="/"><li><p>Curso</p></li></a>
          <a href="/"><li><p>Disciplinas Realizadas</p></li></a>
          <a href="/cruds/" v-if="isAuthenticated">
          <li><p>Alunos</p></li>
          </a>
      </ul>
   </div>
  </aside>
</template>

<script>
  import { mapGetters } from 'vuex';

  import Login from '@/components/Login.vue';
  import Profile from '@/components/Profile.vue';

  export default {
    components: {
      Login,
      Profile
    },

    computed: {
      ...mapGetters(['isAuthenticated'])
    }
  }

</script>

<style>
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #EEEEEE;
}

.top {
  background-color: #4353B5;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.top a {
   color: white;
   align-self: center;
   margin-left: auto;
   margin-right: auto;
}

.bottom {
  background-color: #F5F5F5;
  display:flex;
  width:100%;
  height:100%;
  flex-direction: column;
}

.bottom ul {
   margin:0;
   background-color: #4353B5;
}

.bottom ul li {
   display:table;
   width: 116%;
   height: 50px;
   float:right;
   list-style-type: None;
   list-style-position: outside;
   text-align: center;
   background-color: white;
   border-bottom: 1px solid #F0F0F0;
   cursor:pointer;
   transition: .1s ease-in;
}

.bottom ul li:hover {
  width: 110%;
  transition: .1s ease-in;
}
.bottom ul li p {
   align-items: center;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}


</style>
