<template>
  <footer class="footer">
    <div v-on:click='retract' class="full">
      <p>Contagem de creditos (clique para expandir)</p>
      <div v-on:click='retract' class="Fbody">
        <div class="inside">
          <div class="subCreditos">
            <div class="subtitle">
            Obrigatorias
            </div>
            <div class="bar">
              <div class="progress_p" v-bind:style="{width: plan[0]}"></div>
              <div class="progress_d" v-bind:style="{width: done[0]}"></div>
            </div>
          </div>
          <div class="subCreditos">
            <div class="subtitle">
            Eletivas
            </div>
            <div class="bar">
              <div class="progress_p" v-bind:style="{width: plan[1]}"></div>
              <div class="progress_d" v-bind:style="{width: done[1]}"></div>
            </div>
          </div>
          <div class="subCreditos">
            <div class="subtitle">
            Livres
            </div>
            <div class="bar">
              <div class="progress_p" v-bind:style="{width: plan[2]}"></div>
              <div class="progress_d" v-bind:style="{width: done[2]}"></div>
            </div>
          </div>
        </div>
      </div>
   </div>
  </footer>
</template>
<script>
export default {
  data() {
    //progress bar test
    return {
      plan: ["20%","15%", "10%"],
      done: ["10%","40%", "30%"]
    };
  },
  //smooth footer
  methods: {
    retract: function() {
      var coll = document.getElementsByClassName("Fbody");
       var content = coll[0];
       if (content.style.maxHeight){
         content.style.maxHeight = null;
       } else {
         content.style.maxHeight = content.scrollHeight + "px";
         }
      }
   }
}
</script>
<style>
.footer {
  grid-area: footer;
  place-self: stretch;

  align-items: center;
  padding: 0px;

}

.full {
   place-self: stretch;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   background-color: #4353B5;
   margin: 0px;
   color: white;
}

.full p {
  padding-left: 10px;
}
.inside {
  display: flex;
  flex-direction: row;
  height:90px;
  width: 100%;
  background-color: white;
  color: black;
}

.title p {
  color:white;
  float:left;
}
.Fbody {
  width: 100%;
  max-height:0px;
  transition: max-height 0.1s ease-in;
  overflow: hidden;
}

.collapsible {
  float: right;
  position:absolute;
  right: 0;
  margin-right: 10px;
}

.subCreditos {
  display: flex;
  flex-direction: column;
  width: 33.4%;
  height: 100%;

  justify-content: center;
  align-items: center;

}
.subtitle {
  color: #4353B5;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
  padding-left: 1em;
  padding-bottom: 1em;
}

.bar {
  display: flex;
  flex-direction: row;

  width: 80%;
  height: 1em;

  background-color: #afafaf;
  border-radius: 0.2em;
}

.progress_p {
  background-color: #4353B5;
  border-radius: 0.2em;
}
.progress_d {
  background-color: #fcb13e;
  border-radius: 0.2em;
}
</style>
