<template>
  <nav class="navbar">
    <a href="/"><p>DBZ</p></a>
  </nav>
</template>

<style>
.navbar {
  /* Grid to position the cell itself */
  grid-area: navbar;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  background-color: #4353B5;
  border-bottom: 1px solid #EEEEEE;
}

.navbar p {
   color:white;
}
</style>
